<div class="col-md-3 hidden-xs hidden-sm pad-right0" id="leftCol">
    <ul class="nav nav-stacked affix-top" id="sidebar">
        <li class="animated fadeInLeft"><a routerLink="/">Home</a></li>
        <li class="even animated fadeInLeft">
            <a href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="collapsed">Nokia Services<span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-left position" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
            </a>
            <ul class="collapse" id="collapseExample">
                <li>
                    <a routerLink="/global">Global Services</a>
                </li>
                <li class="odd">
                    <a href="#">ION</a>
                </li>
                <li>
                    <a href="#">Fixed Networks</a>
                </li>
                <li class="odd">
                    <a href="#">A&A</a>
                </li>
            </ul>
        </li>
        <li class="animated fadeInLeft"><a href="#">Notifications</a></li>
        <li class="even animated fadeInLeft"><a href="#">Use Cases</a></li>
        <li class="animated fadeInLeft"><a href="#">Feedback</a></li>
    </ul>
</div>