    <div class="image-block margin-bottom0 animated fadeInDown">
        <img src="/assets/img/banner/ban1.jpg" alt="">
        <div class="text">Global Services</div>
    </div>
    <ol class="breadcrumb color-four">
        <li><a routerLink="/">Home</a>
        </li>
        <li class="active">Global Services</li>
    </ol>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 pad-right0 animated fadeIn">
            <div class="list-group">
                <a routerLink="/implimentation" class="list-group-item color-four">Network Implementation</a>
                <a href="#" class="list-group-item color-two">Network planning and Optimization</a>
                <a href="#" class="list-group-item color-four">Managed Services</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 animated fadeIn">
            <div class="list-group">
                <a href="#" class="list-group-item color-three">Care</a>
                <a href="#" class="list-group-item color-one">Systems Integration</a>
            </div>
        </div>
    </div>