#wrapper {
  /*padding-left: 250px;*/
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -130px;
  top: 0px;
  left: 130px;
  width: 130px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
  #sidebar-wrapper {
    left: 0;
  }
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 40px;
    text-indent: 20px;
    a {
      color: #999999;
      display: block;
      text-decoration: none;
      padding-left: 60px;
      span:before {
        position: absolute;
        left: 0;
        color: #41484c;
        text-align: center;
        width: 20px;
        line-height: 18px;
      }
      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
      }
    }
    &.active {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
    a {
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
    a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

#menu-toggle {
  text-decoration: none;
  float: left;
  color: #fff;
  padding-right: 15px;
}
@media (min-width: 768px) and (max-width: 990px) {
#sidebar-wrapper {
  margin-left: -220px;
  left: 220px;
  width: 220px;
}
#wrapper.active {
    position: relative;
    left: 0px;
    #sidebar-wrapper {
      left: 210px;
      width: 210px;
      transition: all 0.4s ease 0s;
    }
  }
  .active #page-content-wrapper{left:-220px;}
}
@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
    #sidebar-wrapper {
      left: 130px;
      width: 130px;
      transition: all 0.4s ease 0s;
    }
  }
  #menu-toggle {
    display: inline-block;
  }
}