body{width:100%;height:100%;background:$base-color;font-family:$primary-font;overflow-x:hidden;}
html{width:100%;height:100%;}
img{max-width:100%;}
.navbar-inverse{background-color:$base-color;border-color:$base-color;}
#menu-toggle{color:$white;}
.nav-stacked>li{background:$leftpanel-odd-color;}
.nav-stacked>li.even{background:$leftpanel-even-color;}
.nav>li>a:hover,.nav>li>a:focus{background-color:$leftpanel-even-color;}
.nav-stacked>li a{color:$white;font-weight:200;font-size:13px}
.nav-stacked > li + li{margin-top:0px;margin-left:0;}
.image-block{position:relative;margin-bottom:15px;max-height:260px;    overflow: hidden;
  .text{position:absolute;z-index:1;bottom:20px;left:20px;color:#fff;font-size:22px;font-weight:100;text-shadow:0 0 3px $black;}
  img{width:100%;}
}
.nav-stacked > li ul{padding-left:0px;
  li{list-style:none;background:$leftpanel-sub-odd-color;padding:8px 0 8px 25px;border-bottom:1px solid #b8c4d0;
    &.odd{background:$leftpanel-sub-even-color;}
  }
}
#menu-toggle{color:#004d99;padding-top:6px;}
*{transition:all 0.4s ease 0s;}
.head-con{padding-left:26%;font-size:22px;color:#004d99;margin-top:15px;display:block;}
#sidebar-wrapper{background:$leftpanel-odd-color;box-shadow: 0 0 0 $black;}
.active #sidebar-wrapper{box-shadow: 0 0 25px $black;}
.nav-stacked > li{a span i.position{position:relative;left:-2px;}
  > a{&.collapsed > span{-ms-transform:rotate(43deg);      /* IE 9 */-webkit-transform:rotate(43deg);      /* Chrome, Safari, Opera */transform:rotate(43deg);}
    > span{-ms-transform:rotate(0deg);      /* IE 9 */-webkit-transform:rotate(0deg);      /* Chrome, Safari, Opera */transform:rotate(0deg);}
  }
}
.breadcrumb{padding:7px 15px;margin-bottom:20px;list-style:none;background-color:#004d99;border-radius:0;font-size:12px;font-weight:300;
  a{color:#fff;}
  .active{color:#fff;}
}
.color-one{background:$leftpanel-odd-color;}
.color-two{background:$leftpanel-even-color;}
.color-three{background:$leftpanel-sub-odd-color;}
.color-four{background:$leftpanel-sub-even-color;}
.color-five{background:$leftpanel-sub-option-color;}
a.list-group-item,.list-group-item.heading{color:$white;margin-bottom:8px;}
a.list-group-item.color-five{color:#001135;}
.list-group-item{border:0}
.border0{border-radius:0}
.list-group-item:first-child{border-top-right-radius:0px;border-top-left-radius:0px;}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:0px;border-bottom-left-radius:0px;}
.margin-bottom0{margin-bottom:0}
.list-group{margin-bottom:0px;}
.panel.dark{color:$white;font-weight:300;
  .panel-heading{background:#4d5766;}
  .panel-body{background:#717985;line-height:24px;}
}
.panel.blue{color:$white;font-weight:300;
  .panel-heading{background:#124191;}
  .panel-body{background:#4167a7;line-height:24px;}
}
.panel.light{color:$black;font-weight:300;
  .panel-heading{background:#bec8d2;}
  .panel-body{background:#cbd3db;line-height:24px;}
}
.panel.light-grey{color:$black;font-weight:300;
  .panel-heading{background:#98a2ae;}
  .panel-body{background:#adb5be;line-height:24px;}
}
.pad-right0{padding-right:0;}
.pad-left0{padding-left:0;}
.panel, .breadcrumb{margin-bottom:15px;}
.back{position: absolute;right: 25px; top: 30%; color: #4e4e4e;font-size: 17px;}
.border-left0{border-left:0}
.border-right0{border-right:0}
.border-bottom0{border-bottom:0}
.border-top0{border-top:0}
.border-grey{border:1px solid #dfdfdf}
.border-left-grey{border-left:1px solid #dfdfdf}
.border-right-grey{border-right:1px solid #dfdfdf}
.padding0{padding:0!important}
.width35{ width: 35%;}
.width65{width:65%;}
.width50{width:50%;}
.width33{width:33.3%;}
.overflow-auto{overflow:auto;}

