@media (min-width:1024px) and (max-width:1024px){
  .image-block{max-height:210px;}
  .list-group{margin-bottom:0px;}
}
@media (max-width:990px){
  .navbar-header{float:none;}
  .navbar-toggle{display:block;}
  .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);
    &.collapse{display:none!important;}
  }
  .navbar-nav{float:none!important;margin:7.5px -15px;
    > li{float:none;
      > a{padding-top:10px;padding-bottom:10px;}
    }
  }
  #wrapper #sidebar-wrapper{left:0;}
  #wrapper.active #sidebar-wrapper{left:220px;}
  #wrapper{padding:0;margin:0;width:100vw;}
  .list-group,a.list-group-item,.list-group-item.heading,.breadcrumb{margin-bottom:0px;}
  .row{margin-left:0;margin-right:0;}
  .col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{padding-left:0;padding-right:0;}
  .navbar-brand{width:100vw;}
  .navbar-brand{width:100vw;
    .logo{text-align:center;width:100%;display:block;}
  }
  .image-block{margin-bottom:0px;}
  a.list-group-item.color-five{border:1px solid #fff;}
  .panel{border:0;margin-bottom:0;}
  #page-content-wrapper { padding-top: 51px;}
  .navbar-brand { padding: 8px 15px;}
}
@media (max-width:767px){

  /*.no-pad{padding:0 7px;}*/
  #page-content-wrapper{width:100vw;padding-top:51px;left:0px;position:relative;transition: all 0s ease 0s;}
  .image-block{margin-bottom:0px;}
  .image-block > img{width:100%;}
  .container.active #page-content-wrapper{left:-250px;transition: all 0s ease 0s;}
  .list-group,a.list-group-item,.list-group-item.heading,.breadcrumb{margin-bottom:0px;}
  a.list-group-item.color-five{border-bottom:1px solid #dfdfdf;padding:12px 15px;}
  .navbar-brand{padding:9px 15px;}
  .image-block {max-height: 145px;}
   #wrapper.active #sidebar-wrapper{left:130px;}
   .back {right: 8px; font-size:14px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px){
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width:321px){
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:320px){
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
}

/**********
iPad 3
**********/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width:1224px){
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px){
}

/* iPhone 4 -----------*/
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){
}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){
}
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px){
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width:321px){
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:320px){
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
}

/**********
iPad 3
**********/
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width:1224px){
}

/* Large screens ----------- */
@media only screen  and (min-width:1824px){
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:2){
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-height:568px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:375px) and (max-device-height:667px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:414px) and (max-device-height:736px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:2){
}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:2){
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){
}
@media only screen and (min-device-width:320px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:landscape) and (-webkit-device-pixel-ratio:3){
}
@media only screen and (min-device-width:360px) and (max-device-height:640px) and (orientation:portrait) and (-webkit-device-pixel-ratio:3){
}