.nav-tabs > li {
  > a {
    color: $tab-font-primery-color;
    border-bottom: 2px solid transparent;
    &:hover, &:focus {
      border-color: transparent;
      background: transparent;
      border-bottom: 2px solid $black;
      color: $tab-font-secondary-color;
    }
  }
  &.active > a {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background: transparent;
    border-bottom: 2px solid $primary-color;
    position: relative;
    bottom: -1px;
    &:focus, &:hover {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      background: transparent;
      border-bottom: 2px solid $primary-color;
      position: relative;
      bottom: -1px;
    }
  }
}
