<div id="wrapper" class="container">
    <app-navigation></app-navigation>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div>
                <div class="row">
                    <app-leftmenu></app-leftmenu>
                    <div class="col-md-9 col-lg-9 no-pad">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>