<div class="image-block margin-bottom0 animated fadeInDown">
  <img src="/assets/img/banner/ban1.jpg" alt="">
  <div class="text">Global Services</div>
</div>
<ol class="breadcrumb color-four">
  <li><a routerLink="/">Home</a>
  </li>
  <li><a routerLink="/global">Global Services</a>
  </li>
  <li><a routerLink="/implimentation">Network Implementation</a>
  </li>
  <li class="active">Energy Solutions</li>
</ol>
<div class="">
  <div class="panel blue border0">
    <div class="panel-heading border0 color-one">
      <h3 class="panel-title">Delivery</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 animated fadeIn">
      <div class="panel light border0">
        <div class="panel-heading border0">
          <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body border0">
          <div class="col-md-6 col-sm-6 col-lg-6 animated fadeIn">
            <p><b>Standard energy solutions</b> where a strategic objective is to:</p>
            <ul>
              <li>Typically follows larger MNP deployment strategy</li>
              <li>Site monitoring will include both remote and local integration</li>
            </ul>
            <p><b>Modernization cases</b> can be part of technology modernization or OPEX reduction driven requirement:</p>
            <ul>
              <li>Modernization resulting in non-standard power solutions will require a local site survey</li>
              <li>Site monitoring will include both remote and local integration</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 animated fadeIn">
            <p><b>Renewable solutions</b> require local site survey:</p>
            <ul>
              <li>Detailed design more complex</li>
              <li>TI plus C&I should be supervised by Nokia as a minimum. Some local fabrication possible</li>
              <li>Site monitoring will include both remote and local integration</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-auto">
    <table class="table table-striped border-grey">
      <thead class="blue panel">
        <tr class="panel-heading">
          <th class=" border-right-grey">Scope</th>
          <th>Standard energy solution</th>
          <th>Modernization</th>
          <th>Renewable solutions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class=" border-right-grey">Service Business Management</td>
          <td>Nokia</td>
          <td>Nokia</td>
          <td>Nokia</td>
        </tr>
        <tr>
          <td class=" border-right-grey">Roll-out Management, National/ Regional</td>
          <td>Nokia</td>
          <td>Nokia</td>
          <td>Nokia</td>
        </tr>
        <tr>
          <td class="padding0">
            <table class="table margin-bottom0 border-right-grey">
              <tr>
                <td>Site Acquisition & permissions</td>
              </tr>
              <tr>
                <td>Civil Works</td>
              </tr>
            </table>
          </td>
          <td colspan="3">Aligned with Customer or Nokia approach</td>
        </tr>
        <tr>
          <td class="padding0">
            <table class="table margin-bottom0 border-right-grey">
              <tr>
                <td>Telecom Implementation</td>
              </tr>
              <tr>
                <td>Commissioning & Integration</td>
              </tr>
            </table>
          </td>
          <td>Nokia or Nokia TI<br> Partner</td>
          <td>Nokia or Nokia TI<br> Partner</td>
          <td>Nokia or Nokia TI<br> Partner</td>
        </tr>
        <tr>
          <td class=" border-right-grey">Remote Integration</td>
          <td>Nokia</td>
          <td>Nokia</td>
          <td>Nokia</td>
        </tr>
        <tr>
          <td class=" border-right-grey">Acceptance</td>
          <td>Nokia</td>
          <td>Nokia</td>
          <td>Nokia</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 pad-right0 animated fadeIn">
      <div class="panel light-grey border0">
        <div class="panel-heading border0">
          <h3 class="panel-title">Tools</h3>
        </div>
        <div class="panel-body border0 height136">
          <ul>
            <li>Model Selector</li>
            <li>ES tool (dimensioning – BoQ)</li>
            <li>IPM platform (project realization)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 animated fadeIn">
      <div class="panel light border0">
        <div class="panel-heading border0">
          <h3 class="panel-title">Resources</h3>
        </div>
        <div class="panel-body border0">
          <ul>
            <li>Project Manager (shared with corresponding MNP project)</li>
            <li>Field supervisor - Project supervisor - Project Delivery Manager (use case dependent)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>