<div class="image-block margin-bottom0 animated fadeInDown">
  <img src="/assets/img/banner/ban1.jpg" alt="">
  <div class="text">Global Services</div>
</div>
<ol class="breadcrumb color-four">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/global">Global Services</a></li>
  <li class="active">Network Implementation</li>
</ol>
<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 pad-right0 animated fadeIn">
    <div class="list-group border0">
      <a routerLink="/implementation-services" class="list-group-item color-five">Implementation Services</a>
      <a routerLink="/energy-solution" class="list-group-item color-five">Energy Solutions</a>
      <a href="#" class="list-group-item color-five">Project Management</a>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6 animated fadeIn">
    <div class="list-group border0">
      <a href="#" class="list-group-item color-five">Site Acquisition and Construction Works</a>
      <a href="#" class="list-group-item color-five">In-Building Services</a>
    </div>
  </div>
</div>