<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div  class="navbar-brand">
                <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle hidden-lg hidden-md">
                    <i class="fa fa-bars"></i>
                </a>
                <a routerLink="/" class="logo"><img src="/assets/img/logo.png" alt="Nokia"></a> 
                <a href="#" class="back" (click)="backClicked()" *ngIf="_currentLocation !== '/'"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
        <span class="head-con hidden-xs hidden-sm">Nokia Service portfolio Q3</span>
    </div>
</nav>
<!-- Sidebar -->
<div id="sidebar-wrapper" class="hidden-lg hidden-md">
    <nav id="spy">
        <ul class="nav nav-stacked affix-top" id="sidebar">
            <li><a routerLink="/">Home</a></li>
            <li class="even">
                <a href=""  data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" class="collapsed collapsible">Nokia Services<span class="pull-right"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-left position" aria-hidden="true"></i></span>
                    <div class="clearfix"></div>
                </a>
                <ul class="collapse" id="collapseExample1">
                    <li>
                        <a routerLink="/global">Global Services</a>
                    </li>
                    <li class="odd">
                        <a href="#">ION</a>
                    </li>
                    <li>
                        <a href="#">Fixed Networks</a>
                    </li>
                    <li class="odd">
                        <a href="#">A&A</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Notifications</a></li>
            <li class="even"><a href="#">Use Cases</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>
</div>