
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn  pad-right0">
        <a routerLink="/global">
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Plane01_Original_LR_RGB.jpg" alt="">
                <div class="text">Global Services</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">  
        <a href="#">          
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Concert01_Original_LR_RGB.jpg" alt="">
                <div class="text">ION</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">
        <a href="#">
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Cycle01_Original_LR_RGB.jpg" alt="">
                <div class="text">Fixed Networks</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">
        <a href="#">
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Kayak01_Original_LR_RGB.jpg" alt="">
                <div class="text">A&A</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">
        <a href="#">
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Industry01_Original_LR_RGB.jpg" alt="">
                <div class="text">Notifications</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">
        <a href="#">
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Snowball01_Original_LR_RGB.jpg" alt="">
                <div class="text">Use Cases</div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 no-pad animated fadeIn pad-right0">   
        <a href="#">         
            <div class="image-block">
                <img src="/assets/img/Nokia_IM_Tent01_Original_LR_RGB.jpg" alt="">
                <div class="text">Feedback</div>
            </div>
        </a>
    </div>

